<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rediscover the world</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="">MAIN</a></li>
                <li><a href="/explore">INTERESTING PLACE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Rediscover the world {{ n }} {{ k }}</h1>
            <p>The gladdest moment in human life,<br>
            methinks, is a departure<br>
            into unknown lands.</p>
        </section>
        <section>
            <p>Editorial Foreword
            The World Travel Guide (WTG) is the flagship digital consumer brand within the Columbus Travel Media
            portfolio. Available in English, German, and Spanish versions, the WTG provides detailed and accurate
            travel content designed to inspire global travellers. It covers all aspects, from cities to airports,
            cruise ports to ski and beach resorts, attractions to events, and it also includes offbeat travel news,
            stories, quizzes and guides for adventurous travellers.</p>
        </section>
    </main>
    <footer>
        <p>
            Copyright © 1999-2020 Ctrip.com (Hong Kong) Limited. All rights reserved.
            Site Operator: Ctrip.com (Hong Kong) Limited
            Hong Kong Travel License No. 352367

        </p>
    </footer>
</body>
</html>
